{% load socialaccount %}
{% load account socialaccount %}
{% load static %}
{% get_providers as socialaccount_providers %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Open-Ecommerce Reset Key</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login.style.css' %}" type="text/css">
</head>

<body>
    <div class="login-form">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            <div class="text-center">
                <img src="{% static 'img/ecommerce-website-square.jpg' %}" alt="">
            </div>
            <hr>
            <h4 class="text-center">{% trans "Change Password" %}</h4>
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
            {% endblock %}
        </form>
    </div>
</body>