{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/tendencias-ropa-hombre.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Compra Online</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'nucleo:home' %}">Home</a>
                            <span>Moda y estilo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__item set-bg" data-setbg="{% static 'img/hero/gabardina_hero.png' %}">
                        <div class="hero__text">
                            <span>LA MEJOR CALIDAD</span>
                            <h2>Tendencias <br />Moda</h2>
                            <p>Free Pickup Y Envio Disponible</p>
                            <a href="#" class="primary-btn">COMPRA AHORA</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar" id="accordionExample">
                        <div class="sidebar__item">
                                <h4 data-toggle="collapse" data-target="#marcaMenu" aria-expanded="true"  aria-controls="#marcaMenu">
                                    <i class="fa fa-angle-down"></i>
                                    Marca
                                </h4>
                                <ul id="marcaMenu" aria-labelledby="marcaMenu" class="collapse show">
                                    {% for key,marca in marcas %}
                                    <li><a href="{% url 'nucleo:home_category' key %}">{{marca}}</a></li>
                                    {% endfor %}
                                </ul>
                            <hr>
                                <h4 data-toggle="collapse" data-target="#categoriaMenu" aria-expanded="true">
                                    <i class="fa fa-angle-down"></i>
                                    Categoria
                                </h4>
                                <ul id="categoriaMenu" class="collapse show">
                                    {% for key,categoria in categorias %}
                                    <li><a href="{% url 'nucleo:home_category' key %}">{{categoria}}</a></li>
                                    {% endfor %}
                                </ul>
                            
                        </div>
                        <div class="sidebar__item">
                            <h4>Precio</h4>
                            <div class="price-range-wrap">
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            
                            </form>
                        </div>
                        <br>
                        <div class="sidebar__item d-none d-sm-block">
                            <div class="latest-product__text">
                                <h4>
                                    Mas consultados
                                </h4>
                                <div class="latest-product__slider owl-carousel" class="collapse show">
                                    {% for arrayProds in mas_vistos %}
                                    <div class="latest-prdouct__slider__item">
                                        {% for item in arrayProds %}
                                            <a href="{% url 'nucleo:producto' item.pk %}" class="latest-product__item">
                                                <div class="latest-product__item__pic">
                                                    <img src="{{ item.get_image_product }}" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6>{{item.item_name}}</h6>
                                                    <span>${{item.get_final_price}}</span>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9 col-md-7">
                    {% if discount_items %}
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Descuentos</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for item in discount_items %}
                                    <div class="col-lg-4">
                                        <div class="product__discount__item">
                                            <div class="product__discount__item__pic set-bg"
                                                data-setbg="{{ item.get_image_product }}">
                                                <div class="product__discount__percent">-{{ item.get_porcentaje_descuento }}%</div>
                                                <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a class="addCart" data-pk="{{item.pk}}"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__discount__item__text">
                                                <span>{{ item.get_category_display }}</span>
                                                <h5><a href="{{ item.get_absolute_url }}">{{ item.item_name }}</a></h5>
                                                <div class="product__item__price">
                                                    {% if item.discount_price %}
                                                        ${{ item.discount_price }}
                                                    {% endif %}
                                                    <span>${{ item.price }} </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{ object_list|length }}</span> Productos encontrados</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span data-layout="grid" class="change_layout icon_grid-2x2"></span>
                                    <span data-layout="list" class="change_layout icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for item in object_list %}
                            <!-- GRID ITEMS -->
                            <div class="col-lg-4 col-md-6 col-sm-6" id="grid_items">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ item.get_image_product }}">
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a class="addCart" data-pk="{{item.pk}}"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <a href="{{ item.get_absolute_url }}" class="grey-text">
                                            <h5>{{ item.item_name}}</h5>
                                        </a>
                                        <h6><a href="{{ item.get_absolute_url }}">{{ item.get_category_display }}</a></h6>
                                        <h5>${% if item.discount_price %}
                                            {{ item.discount_price }} &nbsp; 
                                            <div class="product__discount__item__text product__item__price" style="padding: 0px!important;text-decoration:line-through;"><span>${{item.price}}</span></div>
                                        {% else %}
                                            {{ item.price }}
                                        {% endif %}</h5>
                                            <span class="badge  {% if item.get_label_display == 'Nuevo' %} badge-danger {% else %} badge-info {% endif %}">{{ item.get_label_display }}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- LIST ITEMS -->
                            <div class="col-md-12 col-xl-12" id="list_items" style="display: none;">
                                <div class="card shadow-0 border rounded-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                    <img src="{{ item.get_image_product }}"
                                                        class="w-100" />
                                                    <a href="#!">
                                                        <div class="hover-overlay">
                                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-xl-6">
                                                <h5> <b>{{ item.item_name }}</b> </h5>
                                                <div class="mb-2 text-muted small">
                                                    <span class="text-primary"> • </span>
                                                    <span>{{ item.get_category_display}}</span>
                                                    <span class="text-primary"> • </span>
                                                    <span>{{item.company}}</span>
                                                </div>
                                                <div class="text-truncate mb-4 mb-md-0">
                                                    {{ item.description }}
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                                <div class="d-flex flex-row align-items-center mb-1">
                                                    
                                                    ${% if item.discount_price %}
                                                    <h4 class="mb-1 me-1">{{ item.discount_price }}</h4>
                                                    <span class="text-danger"><s>${{ item.price }}</s></span>
                                                    {% else %}
                                                    <h4 class="mb-1 me-1">{{ item.price }}</h4>
                                                    {% endif %}</h5>
                                                </div>
                                                <div class="d-flex flex-column mt-4">
                                                    <a class="btn btn-primary btn-sm" href="{% url 'nucleo:producto' item.pk %}">Detalles</a>
                                                    <a class="btn btn-outline-primary btn-sm mt-2 addCart" data-pk="{{item.pk}}" >
                                                        Agregar al carrito
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="product__pagination text-center">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left"></i></a>
                        {% endif %}
                        {% for page_number in page_obj.paginator.page_range %}
                            <a href="?page={{ page_number }}" class="{% if page_number == page_obj.number %}active{% endif %}">{{ page_number }}</a>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-long-arrow-right"></i></a>
                        {% endif %}
                        <span class="current">
                            Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

{% endblock content %}
{% block extra_script %}
<script type='text/javascript'>
$(document).ready(()=>{
    storage = window.localStorage;
    if(storage.getItem("list_tipe") != ""){
        if(storage.getItem("list_tipe") == "list"){
            $("#grid_items,#list_items").slideToggle();
        }
    }
    $("#minamount").val("$10");
    $("#maxamount").val("$150");
    slider = $(".price-range-wrap").slider({
        range: true,
        min: 0,
        max: 200,
        values: [10, 150],
        animate: "slow",
        orientation: "horizontal",
        slide: function (event, ui) {
            $("#minamount").val("$" + ui.values[0]);
            $("#maxamount").val("$" + ui.values[1]);
        },
        change: function (event, ui) { 
            url = window.location.origin +'/price='+$(".price-range-wrap").slider('values')[0] + '/' + $(".price-range-wrap").slider('values')[1];
            console.log(url);
            window.location.href = url;
        }
    });
    
    $('.change_layout').click((evt,handler)=>{
        if($(evt.target).hasClass('icon_ul')){
            storage.setItem("list_tipe","list")
        }else{
            storage.setItem("list_tipe","grid")
        }
        $("#grid_items,#list_items").slideToggle();
    });
    
    $(".menu_colapse").each(function () {
        $(this).find(".fa").addClass("fa-angle-down").removeClass("fa-angle-up");
    });
    $(".collapse").on('show.bs.collapse', function () {
        $(this).prev().find(".fa").addClass("fa-angle-down").removeClass("fa-angle-up");
    }).on('hide.bs.collapse', function () {
        $(this).prev().find(".fa").addClass("fa-angle-up").removeClass("fa-angle-down");
    });

    $('.addCart').click(function(e){
        e.preventDefault();
        let pk = $(this).data('pk');
        $.ajax({
            url: "add-to-cart/"+pk+"/1/",
            type: 'POST',
            dataType: 'JSON',
            beforeSend: ()=>{
                if($(this).hasClass("btn-outline-primary")){
                    $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i>');
                }else{
                    $(this).find('i').removeClass('fa-shopping-cart').addClass('fa-circle-o-notch fa-spin');
                }
            },
            error: () => {
                if ($(this).hasClass("btn-outline-primary")) {
                    $(this).text('Agregar al carrito');
                } else {
                    $(this).find('i').removeClass('fa-spin').addClass('fa-shopping-cart');
                }
            },
            data: {
                "pk": pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
        }).then((resp)=>{
            if ($(this).hasClass("btn-outline-primary")) {
                $(this).text('Agregar al carrito');
            }else{
                $(this).find('i').removeClass('fa-circle-o-notch fa-spin').addClass('fa-shopping-cart');
            }
            setTimeout(function () {

            });
            if(resp.valid){
                toastr.info(resp.msj)
            }else{
                toastr.error(resp.msj)
            }
        });
    });
});

    
    
</script>
{% endblock extra_script %}